
$bordeLigero: 1px solid rgb(168, 161, 161);
$colorMainText:rgb(64,64,64);
$colorSecondaryText:rgb(113, 113, 113);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(223, 223, 223);
    font-family:'Roboto', Courier, monospace;
    max-width: 1900px;
    margin:0 auto;

}

.maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    width: 100%;

}

/* Importar modulos de SASS */
@import "header";
@import "leftnavigation";
@import "content";
@import "rightside";